<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New listing</title>
</head>
<body>
    <h1>Create a New Listing</h1>
    <form method = "POST" action="/listings">
        <input type="text" name="listing[title]" placeholder = "enter description"/>
        <br/>
        <br/>
        <textarea type="text" name="listing[description]" placeholder = "enter description"> </textarea>
        <br/>
        <br/>

        <input type="text" name = listing[image] placeholder = "enter image URL/Link">


        <input type="number" name="listing[price]" placeholder = "enter price"/>
        <br/>
        <br/>

        <input type="text" name="listing[country]" placeholder = "enter country"/>
        <br/>
        <br/>

        <input type="text" name="listing[location]" placeholder = "enter location"/>
        <br/>
        <br/>

        <button>Save</button>

    </form>
</body>
</html>